body {
    background: rgb(18, 53, 91);
    width: 970px;
}
h1 {
    background: #d72638;
    color: lightgray;
    padding: 10px;
}
#nav {
    width: 200px;
    background: rgb(8, 126, 139);
    color: lightblue;
    display: inline-block;
    vertical-align: top;
}
a {
    color: lightblue;
}
ul {
    color: lightgray;
}
#var {
    color: #7692f8;
    display: inline-block;
}
#main {
    width: 730px;
    background: black;
    color: lightgray;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;

}
#footer {
    background: #5c6672;
    color: white;
    padding: 5px;
    margin: 10px;
}