body {
    background-color: rgb(69, 69, 209);
}
.top {
    color: white;
    text-align: right;
}
a {
    color: goldenrod;
}
    .top .topleft {
        display: inline-block;
        border-right-style: solid;
        border-right-width: 2px;
        border-color: black;
        padding-right: 2px; 
    }
    .top .topright {
        display: inline-block;
    }
header {
    padding: 0px;
}
    header .python {
        display: inline-block;
    }
    header .searchbox {
        display: inline-block;
        vertical-align: top;
        margin-left: 800px;
        margin-top: 5px;
        background-color: rgb(56, 54, 54);
        padding: 20px;
    }
.navmenu {
    text-align: center;
    background: rgb(88, 88, 228);
    width: 100%;
    display: inline-block;
}
    .navmenu ul li {
        display: inline-block;
        background: rgb(88, 88, 228);
        font-size: 24px;
        padding: 15px;
    }
        .navmenu ul li a {
            color: white;
            text-decoration: none;
        }
.sidemenu {
    margin-left: 200px;
    display: inline-block;
    vertical-align: top;

}   
    .sidemenu ul li a {
        color: white;
        text-align: center;
    }
.text {
    display: inline-block;
    width: 600px;
    margin-left: 60px;
    text-align: center;
}
    .text p {
        color: white;
    } 
h4 {
    color: goldenrod;
}        
.infobox {
    background: white;
}
    .infobox a {
        color: blue;
    }
.infoboxleft {
    display: inline-block;
    width: 350px;
    text-align: center;
    vertical-align: top;
    margin-left: 300px;
    padding: 5px;
}
.infoboxright {
    display: inline-block;
    width: 350px;
    text-align: center;
    margin-left: 30px;
    padding: 5px;
}
hr {
    height: 3px;
    background-color: blue;
}
footer {
    display: inline-block;
    text-align: center;
}
    footer ul {
        text-align: center;
        margin-left: 250px;
    }
        footer ul li {
            display: inline-block;
            margin: 0px 30px;
        }
            footer ul li a {
                color: rgb(135, 135, 226);
                }
    footer p {
        color: rgb(135, 135, 226);
        margin-left: 300px; 
    }